<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
        <div class="col-4 col-lg-2 p-0" [ngStyle]="{ 'background-image': 'url(' + item.photo + ')', 'background-size': '100% 100%' }"></div>
        <div class="col-6 col-lg-9">
            <div class="d-flex w-100 justify-content-between">
                <div>

                    <h5 class="mb-1 font-weight-bold">{{ item.name }}</h5>

                    
                    <select (change)="changePriceOption($event.target.value)" name="prices" class="prices">
                        <option *ngFor="let price of item.price; index as i" [value]="i" [id] = "'price'+i">{{price.p_option}}</option>
                    </select>


                </div>
            </div>
            <small class="mb-1">Donec id elit non mi porta.</small>

            <p class="mb-1 pr-5">Donec id elit non mi porta gravida at eget metus.Donec id elit non mi porta gravida at eget metus.Donec id elit non mi porta gravida at eget metus.Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        </div> 
        <div class="col-8 col-lg-1">
            <div class="row" >
                <small class="font-weight-bold h5 lime-text">{{ item.price[priceOptionId].price.toFixed(2) }} zł</small>
            </div>
            <ng-template [ngIf]="isAdmin">
                <div class="row ml-auto">
                    <a mdbBtn class="w-75 h-75 text-center mt-4 waves-effect" floating="true" size="" color="elegant" outline='true'><mdb-icon fas icon="pen"></mdb-icon></a>
                    <!-- <mdb-icon fas icon="pen"></mdb-icon> -->
                </div>
                <div class="row ml-auto">
                    <a mdbBtn (click)="deleteProduct(item.id)" class="w-75 h-75 text-center mt-4 waves-effect"  floating="true" color="elegant" outline='true'><mdb-icon class="" fas icon="times"></mdb-icon></a>
                    <!-- <mdb-icon fas icon="times"></mdb-icon> -->
                    <!-- style="border-radius: 50%" -->
                </div>
            </ng-template>
            
        </div>     
    </div>
</div>