<div class="row-fluid row w-100 mx-auto pt-2">
    <h3 class="w-100 text-center p-3 dark-text font-weight-bold">Produkty</h3>
</div>

<div class="container py-2">
    <div class="row">
        <div class="list-group w-100">


            <a href="#" *ngFor="let item of products" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>


          </div>
    </div>
</div>
